<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>爱生活 - K先生个人博客</title>
		<meta name="Keywords" content="爱技术,K先生,K先生个人博客">
		<meta name="Description" content="记录生活的点滴，心灵的橱窗-K先生个人博客">
		<link rel="stylesheet" type="text/css" href="/static/admin/lib/fonticon/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<style>
			nav{background-color: #222;}
		</style>
	</head>
	<body>
		<header>
			<div class="container">
				<h2 class="d_none"><img title="K先生个人博客" src="imgs/logo3.png" height="90px"></h2>
				<!-- 移动端导航 -->
				<div class="md_none" style="">
					<div class="menu_div" style="">
						<button id="menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
						<div style="text-align: center;">
							<img src="imgs/mlogo.png" style="width: 150px">
						</div>
						<button id="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div style="height: 55px"></div>
					<div class="m_nav_div" style="width: 0">
						<ul class="m_nav_ul">
							<li><a href="index.html">首页</a></li>
							<li><a href="ajishu.html">爱技术</a></li>
							<li><a href="ashare.html">爱分享</a></li>
							<li><a href="alife.html">爱生活</a></li>
							<li><a href="apinbo.html">爱拼搏</a></li>
							<li><a href="gbook.html">留言板</a></li>
							<li><a href="about.html">关于我</a></li>
						</ul>
					</div>
					<div class="black_box" style="display: none;"></div>
				</div>
			</div>
			<nav class="d_none">
				<div class="container">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="ajishu.html">爱技术</a></li>
						<li><a href="ashare.html">爱分享</a></li>
						<li><a href="alife.html">爱生活</a></li>
						<li><a href="apinbo.html">爱拼搏</a></li>
						<li><a href="gbook.html">留言板</a></li>
						<li><a href="about.html">关于我</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="container" style="margin-top: 15px">
			<div class="row">
				<div class="col-md-7">
					<p class="top_nav_P">
						您现在的位置是：<a href="/">首页</a> > <a href="/">爱生活</a>
						<span class="f_r music_p d_none">我喜欢生活，而不是为谁而生活</span>
					</p>
					<div style="margin-top: 15px;">
						<div class="new_txt md_none"><p>最新文章</p></div>
						<section class="section">
							<div class="flex_img">
								<div class="img_box">
									<img src="https://blog.yzmcms.com/uploads/thumbnail/20190916213923655.png" onerror="" alt="" title=""></div>
								<div class="r_text">
									<h2 class="ellipsis1"><a target="_blank" href="info/{$list.id}.html">北漂之旅～新的征程</a></h2>
									<p class="ellipsis3">算算时间，现在应该是来北京的第六天了吧，当我一个人来到北京的时候，没有感觉这个城市有多么的“好”，也没有感受到电视机前北京的庄重，只是感觉一个人有些孤独罢了。其实仔细想想，我确实挺“虎”的，在只约了一个我确实挺“虎”的，在只约我确实挺“虎”的，在只约</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i>K先生</span>
										<time><i id="time_ico" class="ico"></i>2019-12-01</time>
										<span><i id="type_ico" class="ico"></i>爱生活</span><span><i id="read_ico" class="ico"></i>124</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section">
							<div class="flex_img">
								<div class="img_box">
									<img src="https://www.yxiaowei.com/Public/upload/article_banner/2019/12-23/5e009a4569f1b.jpg" onerror="" alt="" title=""></div>
								<div class="r_text">
									<h2 class="ellipsis1"><a target="_blank" href="info/{$list.id}.html">北漂之旅～新的征程</a></h2>
									<p class="ellipsis3">算算时间，现在应该是来北京的第六天了吧，当我一个人来到北京的时候，没有感觉这个城市有多么的“好”，也没有感受到电视机前北京的庄重，只是感觉一个人有些孤独罢了。其实仔细想想，我确实挺“虎”的，在只约了一个我确实挺“虎”的，在只约我确实挺“虎”的，在只约</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i>K先生</span>
										<time><i id="time_ico" class="ico"></i>2019-12-01</time>
										<span><i id="type_ico" class="ico"></i>爱生活</span><span><i id="read_ico" class="ico"></i>124</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section">
							<div class="flex_img">
								<div class="img_box">
									<img src="https://www.talklee.com/zb_users/upload/2020/02/202002211582262039798127.jpg" onerror="" alt="" title=""></div>
								<div class="r_text">
									<h2 class="ellipsis1"><a target="_blank" href="info/{$list.id}.html">CSS垂直居中的8种方法，附详细的图文教程</a></h2>
									<p class="ellipsis3">这是一个记录宝宝成长点滴的个人博客，用作于宝宝博客，亲子博客，都是适用的。颜色为蓝色调，头部有飘动的卡通云，采用css3动画效果，布局简单，代码精简，还有相册功能</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i>K先生</span>
										<time><i id="time_ico" class="ico"></i>2019-12-01</time>
										<span><i id="type_ico" class="ico"></i>爱生活</span><span><i id="read_ico" class="ico"></i>124</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/45.html">thinkphp5最简单设置admin后台入口的文件</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">按照习惯，我按照习惯，我们在开发网站的时候都会需要一个后台，而thinkphp5为我们只提供了一个index.php入口，那如果我们后台也都从这个文件走的话那就会极为不方便，那现在我们来建立一个admin.php后台入口。我喜欢简单直接的，所以直接往下看。。。。。。1、在thinkphp5的public目录下有一个index.php文件，复制它并且重命名为a</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-11-14 10:41:17</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>116</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/41.html">MySQL索引到底是干什么的？怎么用？还不懂？</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">MySQL索引到底是干什么的？这个问题自己一直理解的很模糊，只知道它相当于书的目录，能加快数据检索速度。但是要深入一点去说，它为什么能加快数据检索速度，从哪能看出它加快了检索速度，说到这可能我就有点迷茫了。之前最MySQL的理解差不多仅限于增删查改，但最后发现仅仅知道这是不行的，所以找了一些资料，补了一下这方面的知识。之前我对MySQL索引的理解是在设计表的</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-18 21:42:49</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>171</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/39.html">php爬虫模拟登录之慕课网</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">看过上博主上一篇文章的应该都对PHP爬虫有一个最最基础的了解了，现在我们来进一步去了解它。在实际开发中，我们需要爬取的数据，大部分情况下都是需要登录才能获取到的，比如说淘宝网什么的，当然我们现在不以淘宝网为例，至于原因嘛......接下来我们以慕课网为例，来研究一下PHP模拟登录。开始之前的准备1、慕课网账号一个2、慕课网登录表单提交的url地址以及参数（这</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-15 20:59:44</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>198</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/38.html">一起来掌握PHP爬虫（基础篇）</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">今天我们一起来聊聊PHP爬虫，如果你还是一位PHP的初学者还不是太了解PHP爬虫，那么我这篇文章很适合你，相信看完本篇文章你会对爬虫说“so
										easy"。话不多说，直接往下看就完事了。PHP爬虫初体验先什么都不说，我们先来看一段代码。&lt;?php$ch = curl_init('http://www.baidu.com');curl_exec($ch);</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-15 19:34:43</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>174</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/37.html">来聊聊PHP框架中Laravel和Thinkphp的区别</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">Thinkphp框架：ThinkPHP简单、快速，基于MVC和面向对象，易用性较高，是一款简洁实用的轻量级框架。&nbsp;Laravel框架：Lavavel一直秉承着优雅的原则，很好的支持了composer，实现了更丰富的扩展，社区文档活跃，相较于TP，Lavavel更庞大，安全性也更高，更适合开发大中型项目，被称为“巨匠型开发框架”。&nbsp;Lara</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-14 18:00:30</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>218</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/36.html">算法日常：整数反转（LeetCode）</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">题目：给出一个 32
										位的有符号整数，你需要将这个整数中每位上的数字进行反转。来源：力扣（LeetCode）示例&nbsp;1:输入: 123
										输出: 321
										&nbsp;示例 2:输入: -123
										输出: -321
										示例 3:输入: 120
										输出: 21注意：假设我们的环境只能存储得下 32 位的有符号整数，则其数值范围为&nbsp;[−231,</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-13 18:32:51</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>188</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/34.html">PHP与Linux定时任务</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">定时任务在实际开发中用到是非常多的，这里也简单说说PHP怎么执行定时任务。我们都知道PHP是一门解释性语言，当我们在浏览器中输入某个URL时，我们才能去执行PHP，但是如果不访问URL呢，怎么让PHP跑起来？这个问题，可能大家都没有仔细思考过，当然我也没有考虑过，，，，PHP的定时任务其实就是让PHP脚本每隔一段时间运行一次，这就需要结合Linux的cron</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-09 21:44:56</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>211</span>
									</div>
								</div>
							</div>
						</section>
						<section class="section ">
							<div class="flex_img">
								<div class="r_text">
									<h2 class="line_h2" style=""><a target="_blank" href="info/33.html">一起来掌握PHP静态化技术</a></h2>
									<p class="ellipsis2" style="margin-bottom: 45px;">PHP静态化的好处就不多说了，一句话概括就是“让页面打开速度飞起来”。PHP静态化有纯静态和伪静态，伪静态其实严格来说并不是真正的“静态”，它只是伪装了自己，让它看起来像静态，它的实现是利用apache或者nginx服务器对url的重写，url看起来和静态的url看起来一样美观，但实际上它还是php。伪静态这里就不多介绍了。下面一张图先让你从宏观了解一下PH</p>
									<div class="text_info">
										<span><i id="user_ico" class="ico"></i><a href="#">K先生</a></span>
										<time><i id="time_ico" class="ico"></i>2019-10-09 15:13:21</time>
										<span><i id="type_ico" class="ico"></i>爱技术</span><span><i id="read_ico" class="ico"></i>209</span>
									</div>
								</div>
							</div>
						</section>
						<ul class="pagination">
							<li class="disabled"><span>&laquo;</span></li>
							<li class="active"><span>1</span></li>
							<li><a href="/ajishu.html?page=2">2</a></li>
							<li><a href="/ajishu.html?page=3">3</a></li>
							<li><a href="/ajishu.html?page=2">&raquo;</a></li>
						</ul>
					</div>


				</div>
				<div class="col-md-3">

					<aside style="margin-top: 0px;">
						<p class="div_top">网易云热评</p>
						<div class="hot_p">
							<p class="music_p">走不通的路就回头，爱而不得的人就放手，得不到回应的热情就适可而止，别把一厢情愿当成满腔孤勇，也别把厌倦当成欲擒故纵。</p>
							<!-- <blockquote>走不通的路就回头</blockquote> -->
							<span>——出自网易云音乐热评《作家与小丑》</span>
						</div>
						<!-- <cite style="font-size: 14px;">我喜欢的歌没有火就像我喜欢的人从未喜欢过我</cite> -->
					</aside>

					<aside class="d_none" style="margin-top: 15px;">
						<p class="div_top">热门文章</p>
						<div class="flex_img min_img_p" style="margin-bottom: 15px;">
							<img style="" src="imgs/default.jpg">
							<div class="r_text">
								<h3 class="ellipsis2"><a href="/info/23.html" target="_blank" title="bootstrap4实现侧边导航栏带隐藏按钮">bootstrap4实现侧边导航栏带隐藏按钮</a></h3>
								<p class="bottom_num"><time>2018-12-09</time><span>浏览 408</span></p>
							</div>
						</div>
						<div class="flex_img min_img_p" style="margin-bottom: 15px;">
							<img style="" src="imgs/default.jpg">
							<div class="r_text">
								<h3 class="ellipsis2"><a href="/info/31.html" target="_blank" title="分享一款免费可商用的字体《问藏书房》">分享一款免费可商用的字体《问藏书房》</a></h3>
								<p class="bottom_num"><time>2019-10-06</time><span>浏览 360</span></p>
							</div>
						</div>
						<div class="flex_img min_img_p" style="margin-bottom: 15px;">
							<img style="" src="imgs/default.jpg">
							<div class="r_text">
								<h3 class="ellipsis2"><a href="/info/26.html" target="_blank" title="北漂之旅～新的征程">北漂之旅～新的征程</a></h3>
								<p class="bottom_num"><time>2019-03-12</time><span>浏览 327</span></p>
							</div>
						</div>
						<div class="flex_img min_img_p" style="margin-bottom: 15px;">
							<img style="" src="imgs/default.jpg">
							<div class="r_text">
								<h3 class="ellipsis2"><a href="/info/24.html" target="_blank" title="K先生：今天不谈技术，来聊聊心情">K先生：今天不谈技术，来聊聊心情</a></h3>
								<p class="bottom_num"><time>2018-12-12</time><span>浏览 289</span></p>
							</div>
						</div>
						<div class="flex_img min_img_p" style="margin-bottom: 15px;">
							<img style="" src="imgs/default.jpg">
							<div class="r_text">
								<h3 class="ellipsis2"><a href="/info/5.html" target="_blank" title="黑色炫酷html博客模板">黑色炫酷html博客模板</a></h3>
								<p class="bottom_num"><time>2018-10-29</time><span>浏览 281</span></p>
							</div>
						</div>
						<!--  <div class="flex_img min_img_p">
        <img style="" src="http://www.yangqq.com/d/file/jstt/css3/2014-12-09/1cba05d9e0c7cfcfa897394b85f7e5f9.jpg" onerror="{this.src='/static/index/imgs/default.jpg'}">
        <div class="r_text">
            <h3>爱一个人就非要在一起吗</h3>
            <p class="bottom_num"><time>2019-6-2</time><span>阅读数 231</span></p>
        </div>
    </div> -->
					</aside>
					<aside class="d_none" style="margin-top: 15px;">
						<p class="div_top">随机推荐</p>
						<ul class="text_ul">
							<li><a href="http://www.gold404.cn/info/3.html">>php环境搭建phpstudy<span>07-04</span></a></li>
							<li><a href="http://www.gold404.cn/info/34.html">>PHP与Linux定时任务<span>07-04</span></a></li>
							<li><a href="http://www.gold404.cn/info/24.html">>K先生：今天不谈技术，来聊聊心情<span>07-03</span></a></li>
							<li><a href="http://www.gold404.cn/info/22.html">>网站改版后，网站内页一直不被收录时，我做了什么<span>07-01</span></a></li>
							<li><a href="http://www.gold404.cn/info/14.html">>win10永久激活工具<span>07-01</span></a></li>
							<li><a href="http://www.gold404.cn/info/5.html">>黑色炫酷html博客模板<span>07-02</span></a></li>
							<li><a href="http://www.gold404.cn/info/1.html">>K先生<span>10-25</span></a></li>
						</ul>
					</aside>

				</div>
			</div>
		</div>
		<footer style="height: 80px;background-color: #1C2327;margin-top: 30px">
			<p style="text-align: center;color: #b9b9b9;padding-top: 20px;">本博客由K先生设计开发，版权所有</p>
			<p style="text-align: center;color: #b9b9b9;">备案号：<a style="color: #b9b9b9" href="http://beian.miit.gov.cn" target="_blank">豫ICP备16027903号-3</a></p>
		</footer>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
	</body>
</html>
