<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>爱拼搏 - K先生个人博客</title>
    <meta name="Keywords" content="爱拼搏,K先生,K先生个人博客">
    <meta name="Description" content="只有已经做到的才是真的，一步一个脚印，用脚印记录汗水-K先生个人博客">
    <!-- <link rel="stylesheet" type="text/css" href="/static/admin/lib/fonticon/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/base.css" />
	<style>
		nav{background-color: #222;}
	</style>
</head>
<body>
    <header>
    <div class="container">
        <h2 class="d_none"><img title="K先生个人博客" src="imgs/logo3.png" height="90px"></h2>
        <!-- 移动端导航 -->
        <div class="md_none" style="">
            <div class="menu_div" style="">
                <button id="menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                <div style="text-align: center;">
                    <img src="imgs/mlogo.png" style="width: 150px">
                </div>
                <button id="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div style="height: 55px"></div>
            <div class="m_nav_div" style="width: 0">
                <ul class="m_nav_ul">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="ajishu.html">爱技术</a></li>
                    <li><a href="ashare.html">爱分享</a></li>
                    <li><a href="alife.html">爱生活</a></li>
                    <li><a href="apinbo.html">爱拼搏</a></li>
                    <li><a href="gbook.html">留言板</a></li>
                    <li><a href="about.html">关于我</a></li>
                </ul>
            </div>
            <div class="black_box" style="display: none;"></div>
        </div>
    </div>
    <nav class="d_none">
        <div class="container">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="ajishu.html">爱技术</a></li>
                <li><a href="ashare.html">爱分享</a></li>
                <li><a href="alife.html">爱生活</a></li>
                <li><a href="apinbo.html">爱拼搏</a></li>
                <li><a href="gbook.html">留言板</a></li>
                <li><a href="about.html">关于我</a></li>
            </ul>
        </div>
    </nav>
</header>
    <div class="container" style="margin-top: 15px;">
       <!-- <p class="top_nav_P">
            您现在的位置是：<a href="/">首页</a> > <a href="/">爱拼搏</a>
            <span class="f_r music_p d_none">因为喜欢的是你，所以拼搏</span>
        </p> -->
		<p class="top_nav_P1" style="font-size: 14px;margin: 0 15px;">
			您现在的位置是：<a href="/">首页</a> > <a href="/">爱拼搏</a>
			<span class="f_r music_p d_none">因为喜欢的是你，所以拼搏!</span>
		</p>
        <div style="background-color: #fff;border-radius: 5px;padding: 15px;min-height: 500px;box-shadow: 0 4px 5px 0 #d9dfe9;margin-top: 15px;">
            <div class="time-title">
                <p class="ptitle">心中的执念，脚下的路</p>
                <p style="text-align:center;margin-bottom: 35px">（没人在乎你想做什么，只会看到你做了什么）</p>
            </div>
            <div class="linetime" style="">
                <ul class="timez line-r">
                    <li><b>2018年4月12日</b><br>要永远记住的一天</li>
                    <li><b>2018年5月12日</b><br>第二版博客正式上线</li>
                    <li><b>2018年5月30日</b><br>博客接入搜狐畅言评论系统</li>
                    <li><b>2018年8月12日</b><br>零零影院正式上线</li>
                </ul>
                <ul class="timez line-l">
                    <li><b>2018年4月12日</b><br>要永远记住的一天</li>
                    <li><b>2018年5月12日</b><br>第二版博客正式上线</li>
                    <li><b>2018年5月30日</b><br>博客接入搜狐畅言评论系统</li>
                    <li><b>2018年8月12日</b><br>零零影院正式上线</li>
                </ul>
            </div>
        </div>
    </div>
    <footer style="height: 80px;background-color: #1C2327;margin-top: 30px">
	<p style="text-align: center;color: #b9b9b9;padding-top: 20px;">本博客由K先生设计开发，版权所有</p>
	<p style="text-align: center;color: #b9b9b9;">备案号：<a style="color: #b9b9b9" href="http://beian.miit.gov.cn" target="_blank">豫ICP备16027903号-3</a></p>
</footer>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>

</html>
