<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>留言板 - K先生个人博客</title>
		<meta name="Keywords" content="留言板,K先生,个人博客,K先生个人博客">
		<meta name="Description" content="有朋自远方来，来聊聊天吧-K先生个人博客">
		<!-- <link rel="stylesheet" type="text/css" href="/static/admin/lib/fonticon/css/font-awesome.min.css" /> -->
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<!-- <link rel="stylesheet" type="text/css" href="/static/index/css/banner.css" /> -->
		<link rel="stylesheet" type="text/css" href="lib/comment/css/comment.css" />
		<style>
			nav{background-color: #222;}
		</style>
	</head>
	<body>
		<header>
			<div class="container">
				<h2 class="d_none"><img title="K先生个人博客" src="imgs/logo3.png" height="90px"></h2>
				<!-- 移动端导航 -->
				<div class="md_none" style="">
					<div class="menu_div" style="">
						<button id="menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
						<div style="text-align: center;">
							<img src="imgs/mlogo.png" style="width: 150px">
						</div>
						<button id="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div style="height: 55px"></div>
					<div class="m_nav_div" style="width: 0">
						<ul class="m_nav_ul">
							<li><a href="index.html">首页</a></li>
							<li><a href="ajishu.html">爱技术</a></li>
							<li><a href="ashare.html">爱分享</a></li>
							<li><a href="alife.html">爱生活</a></li>
							<li><a href="apinbo.html">爱拼搏</a></li>
							<li><a href="gbook.html">留言板</a></li>
							<li><a href="about.html">关于我</a></li>
						</ul>
					</div>
					<div class="black_box" style="display: none;"></div>
				</div>
			</div>
			<nav class="d_none">
				<div class="container">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="ajishu.html">爱技术</a></li>
						<li><a href="ashare.html">爱分享</a></li>
						<li><a href="alife.html">爱生活</a></li>
						<li><a href="apinbo.html">爱拼搏</a></li>
						<li><a href="gbook.html">留言板</a></li>
						<li><a href="about.html">关于我</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="container" style="margin-top: 15px">
			<div class="row">
				<div class="col-md-7">

					<p class="top_nav_P">
						您现在的位置是：<a href="/">首页</a> > <a href="/">留言板</a>
						<span class="f_r music_p d_none">有朋自远方来，不亦乐乎！</span>
					</p>
					<div style="">
						<section class="section" style="min-height: 300px">
							<p>留言功能正在完善中......</p>
						</section>
					</div>
				</div>
				<div class="col-md-3">

					<aside class="admin_info" style="">
						<div style="position: relative;margin-bottom: 55px;">
							<img width="100%" height="125px" src="imgs/bg2.png" alt="">
							<img style="position: absolute;left: 36.8%;bottom: -42px;border-radius: 50%;height: 100px;" src="imgs/avatar.jpg">
						</div>
						<div class="info_text">
							<p class="abname">Full Stack engineer | K先生</p>
							<p class="abposition">Web前端设计师、网页设计</p>
							<p class="abtext"> 一个95后草根站长！17年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。 </p>
						</div>
					</aside>
					<aside class="d_none" style="margin-top: 15px;">
						<p class="div_top">随机推荐</p>
						<ul class="text_ul">
							<li><a href="http://www.gold404.cn/info/3.html">>php环境搭建phpstudy<span>07-04</span></a></li>
							<li><a href="http://www.gold404.cn/info/34.html">>PHP与Linux定时任务<span>07-04</span></a></li>
							<li><a href="http://www.gold404.cn/info/24.html">>K先生：今天不谈技术，来聊聊心情<span>07-03</span></a></li>
							<li><a href="http://www.gold404.cn/info/22.html">>网站改版后，网站内页一直不被收录时，我做了什么<span>07-01</span></a></li>
							<li><a href="http://www.gold404.cn/info/14.html">>win10永久激活工具<span>07-01</span></a></li>
							<li><a href="http://www.gold404.cn/info/5.html">>黑色炫酷html博客模板<span>07-02</span></a></li>

							<li><a href="http://www.gold404.cn/info/1.html">>K先生<span>10-25</span></a></li>
						</ul>
					</aside>

				</div>
			</div>
		</div>
		<footer style="height: 80px;background-color: #1C2327;margin-top: 30px">
			<p style="text-align: center;color: #b9b9b9;padding-top: 20px;">本博客由K先生设计开发，版权所有</p>
			<p style="text-align: center;color: #b9b9b9;">备案号：<a style="color: #b9b9b9" href="http://beian.miit.gov.cn" target="_blank">豫ICP备16027903号-3</a></p>
		</footer>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
	</body>
</html>
